<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css" />

    <link rel="stylesheet" href="./css/glide.core.min.css" />
    <link rel="stylesheet" href="./css/glide.theme.min.css" />

    <link rel="stylesheet" href="./css/main.css" />
    <title>Blog Page</title>
</head>

<body>
    <section class="custom-bg-primary shadow-lg py-2">
        <div class="container pb-4">
            <div>
                <nav class="row align-items-center">
                    <div class="col-6">
                        <a href="./index.html" class="custom-fw-600 text-decoration-none me-3 custom-text-black custom-fs-15">baratodeal.in</a>
                        <a href="./help-center.html" class="text-decoration-none custom-text-white custom-fs-15">Baratodeal Help Center</a>
                    </div>
                    <div class="col-6 text-end"><a href="./index.html" class="custom-text-white custom-fs-25">HOME</a></div>
                </nav>
            </div>
            <h1 class="text-center mt-5 mb-3 custom-fw-700 custom-text-white">Welcome to Bartodeal Help Center</h1>
            <p class="m-0 mb-5 text-center custom-fs-15 custom-text-white">Search our knowledge base or submit a ticket</p>
            <form>
                <div class="mb-3">
                    <label for="articleField" class="form-label custom-fs-15 custom-fw-600 visually-hidden">Type article title *</label>
                    <input type="text" class="form-control custom-fs-20 px-5" id="articleField" aria-describedby="article" placeholder="Search articles...">
                    <div id="articleField-msg" class="form-text visually-hidden">Show error message here</div>
                </div>
            </form>
        </div>
    </section>

    <section>
        <div class="container py-4">
            <h3 class="custom-text-black custom-fw-700 custom-fs-25 mb-3">Popular Articles</h3>
            <div class="card custom-bg-light custom-br-0 border-0">
                <div class="card-body p-4 pb-5">
                    <div>
                        <a href="./blog/single-post.html" class="text-decoration-none custom-fs-15 custom-text-black custom-fw-500">How to apply discount coupon ?</a>
                    </div>
                    <div class="my-3">
                        <a href="./blog/single-post.html" class="text-decoration-none custom-fs-15 custom-text-black custom-fw-500">How to track my order ?</a>
                    </div>
                    <div>
                        <a href="./blog/single-post.html" class="text-decoration-none custom-fs-15 custom-text-black custom-fw-500">How to place an order ?</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>