/* ? GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --font-primary: 'Montserrat', sans-serif;

  --color-primary: #089ECD;
  --color-light-primary: #5EBFDE;
  --color-secondary: #002658;
  --color-orange: #FF9933;
  --color-light: #DADADA;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-secondary: #536C8E;

  --fw-300: 300; --fw-400: 400; --fw-500: 500;
  --fw-600: 600; --fw-700: 700; --fw-800: 800;
  --fw-900: 900;
  
  --fs-10: 13px; --fs-15: 14px; --fs-20: 20px;
  --fs-25: 25px; --fs-30: 30px; --fs-35: 32px;
  --fs-40: 40px; --fs-45: 45px; --fs-50: 50px;
  --fs-55: 55px; --fs-60: 60px; --fs-18: 18px;
  
  --br-0: 0px; --br-5: 5px; --br-10: 10px;
  --br-15: 15px; --br-20: 20px;
}

* {
  font-family: var(--font-primary);
}
/* ? UTILITY CLASSES */
.custom-font-primary { font-family: var(--font-primary) !important; }

.custom-fs-10 { font-size: var(--fs-10) !important; }
.custom-fs-15 { font-size: var(--fs-15) !important; }
.custom-fs-18 { font-size: var(--fs-18) !important; }
.custom-fs-20 { font-size: var(--fs-20) !important; }
.custom-fs-25 { font-size: var(--fs-25) !important; }
.custom-fs-30 { font-size: var(--fs-30) !important; }
.custom-fs-35 { font-size: var(--fs-35) !important; }
.custom-fs-40 { font-size: var(--fs-40) !important; }
.custom-fs-45 { font-size: var(--fs-45) !important; }
.custom-fs-50 { font-size: var(--fs-50) !important; }
.custom-fs-55 { font-size: var(--fs-55) !important; }
.custom-fs-60 { font-size: var(--fs-60) !important; }

.custom-fw-300 { font-weight: var(--fw-300) !important; }
.custom-fw-400 { font-weight: var(--fw-400) !important; }
.custom-fw-500 { font-weight: var(--fw-500) !important; }
.custom-fw-600 { font-weight: var(--fw-600) !important; }
.custom-fw-700 { font-weight: var(--fw-700) !important; }
.custom-fw-800 { font-weight: var(--fw-800) !important; }
.custom-fw-900 { font-weight: var(--fw-900) !important; }

.custom-br-0 { border-radius: var(--br-0) !important; }
.custom-br-5 { border-radius: var(--br-5) !important; }
.custom-br-10 { border-radius: var(--br-10) !important; }
.custom-br-15 { border-radius: var(--br-15) !important; }
.custom-br-20 { border-radius: var(--br-20) !important; }

.custom-text-primary { color: var(--color-primary) !important; }
.custom-text-secondary { color: var(--color-secondary) !important; }
.custom-text-orange { color: var(--color-orange) !important; }
.custom-text-light { color: var(--color-light) !important; }
.custom-text-black { color: var(--color-black) !important; }
.custom-text-white { color: var(--color-white) !important; }

.custom-bg-primary { background-color: var(--color-primary) !important; }
.custom-bg-secondary { background-color: var(--color-secondary) !important; }
.custom-bg-orange { background-color: var(--color-orange) !important; }
.custom-bg-light { background-color: var(--color-light) !important; }
.custom-bg-light-secondary { background-color: var(--color-light-secondary) !important; }
.custom-bg-light-primary { background-color: var(--color-light-primary) !important; }
.custom-bg-black { background-color: var(--color-black) !important; }
.custom-bg-white { background-color: var(--color-white) !important; }

.custom-bc-primary { border-color: var(--color-primary) !important; }
.custom-bc-secondary { border-color: var(--color-secondary) !important; }
.custom-bc-orange { border-color: var(--color-orange) !important; }
.custom-bc-light { border-color: var(--color-light) !important; }
.custom-bc-light-secondary { border-color: var(--color-light-secondary) !important; }
.custom-bc-black { border-color: var(--color-black) !important; }
.custom-bc-white { border-color: var(--color-white) !important; }

.custom-stroke-primary { stroke: var(--color-primary) !important; }
.custom-stroke-secondary { stroke: var(--color-secondary) !important; }
.custom-stroke-orange { stroke: var(--color-orange) !important; }
.custom-stroke-light { stroke: var(--color-light) !important; }
.custom-stroke-black { stroke: var(--color-black) !important; }
.custom-stroke-white { stroke: var(--color-white) !important; }

.custom-fill-primary { fill: var(--color-primary) !important; }
.custom-fill-secondary { fill: var(--color-secondary) !important; }
.custom-fill-orange { fill: var(--color-orange) !important; }
.custom-fill-light { fill: var(--color-light) !important; }
.custom-fill-black { fill: var(--color-black) !important; }
.custom-fill-white { fill: var(--color-white) !important; }

.max-h-100 { max-height: 100px !important; }
.max-h-200 { max-height: 200px !important; }
.max-h-300 { max-height: 300px !important; }
.max-h-400 { max-height: 400px !important; }
.max-h-500 { max-height: 500px !important; }
.max-h-600 { max-height: 600px !important; }

.max-w-100 { max-width: 100px !important; }
.max-w-200 { max-width: 200px !important; }
.max-w-300 { max-width: 300px !important; }
.max-w-400 { max-width: 400px !important; }
.max-w-500 { max-width: 500px !important; }
.max-w-600 { max-width: 600px !important; }

.custom-w-100 { width: 100px !important; }
.custom-w-200 { width: 200px !important; }
.custom-w-300 { width: 300px !important; }
.custom-w-400 { width: 400px !important; }
.custom-w-500 { width: 500px !important; }
.custom-w-600 { width: 600px !important; }

.size-24 { width: 24px; height: 24px; }
.size-52 { width: 52px; height: 52px; }
.size-64 { width: 64px; height: 64px; }
.size-124 { width: 124px; height: 124px; }

.h-2 { height: 2px !important; }

.object-fit-cover {
  object-fit: cover !important;
}
.overflow-x-auto {
  overflow-x: auto !important;
}
/* ? OTHER CLASSES */
.logo {
  width: 200px;
  height: auto;
}
.logo-sm {
  width: 120px;
  height: auto;
}
.no-shadow {
  box-shadow: none !important;
}
.search-icon {
  top:50%;
  right: 20px;
  transform: translate(0, -50%);
}
.z-index-999 {
  z-index: 999;
}

/* ? FOR STAR RATING */
.star-container {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row-reverse;
}

.radio {
  display: none;
}

.label {
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  color: #ddd;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
}

.star {
  fill: transparent;
  stroke: #ddd;
  transition: 0.3s;
}

.star:hover {
  fill: #ddd;
  transform: scale(1.3, 1.3);
}

.radio:checked ~ label .star {
  fill: var(--color-orange);
  stroke: var(--color-orange);
  transform: scale(1.3, 1.3);
}

.radio:checked ~ label:hover .star {
  transform: scale(1, 1);
}

.radio:checked ~ label:hover .star {
  fill: darkvar(--color-orange);
  stroke: darkvar(--color-orange);
}

#img-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: rgba(10, 10, 10, .8);
}
#img-container {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 500px) {
  :root {
    --fs-40: 35px;
    --fs-35: 30px;
  }
}


/* ============ desktop view ============ */
@media all and (min-width: 768px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
  .nav-link:hover {
    background-color: var(--color-secondary);
  }
}
.left-12 {
  left: -400%!important;
}
.login{
  left: -120%!important;
}
.start-76{
  left: 76%;
}
.fa-user,.fa-shopping-cart{
  font-size: 1.4rem;
}
/* ============ desktop view .end// ============ */